.logo{
	font-family: @logo_font;
	font-size: 43px;
	color: @theme_color1;
}

body>article,
body>nav{
	padding-left: @page_padding;
	padding-right: @page_padding;
}

.header{
    // padding-top: 30px;
    .clearfix;
    .flex-display();
    .align-items;

    &>*{
    	float: left;
    	width: 50%;
    }
}

.meni_list{
	.clearfix;
}

// .Rectangle_3 {
//   background-color: rgb(255, 255, 255);
//   position: absolute;
//   left: -1px;
//   top: -2px;
  // width: 1444px;
  // height: 102px;
//   z-index: 141;
// }


.banner {
	padding-left: 0;
	padding-right: 0;
}

.slider{
	.base_effect_block();

	.slider_nav{
		.absolute_block_pos();
		width: 100%;
		top: 48%;
		bottom: auto;
		pointer-events: none;;
		z-index: 9999;
	}

}

