ul{
list-style: none;
padding-left: 0;
margin-top: 0;
margin-bottom: 0;
}

body::-webkit-scrollbar { width: 0; }

img{
	max-width: 100%;
}

body{
	background-color: @color_white;
	font-family: @base_font;
}

body * {
	.box-sizing(border-box);
}

a{
	text-decoration: none;
}

h3,
h5{
	font-weight: normal;
	line-height: 24px;
	color: @text_color;
}

h1{
	font-weight: 600;
    font-size: 63px;
}

h3{
	font-size: 42px;
	line-height: 24px;

}

h5{
	font-size: 22px;
}

p{
	font-size: 14px;
	line-height: 26px;
}